<header class="SiteHeader" data-scroll-section>
  <ul class="container-fluid">
    {% for item in menu.items %}
      <li><a href="{{ item.url }}">{{ item.label }}</a></li>
    {% endfor %}
  </ul>
</header>
